---
import { useTranslations } from '@/i18n';
import Layout from '@/layouts/Layout.astro';

const { t } = useTranslations(Astro.url);

export const getStaticPaths = () => {
  return [{ params: { locale: 'en' } }, { params: { locale: 'fr' } }];
};
---

<Layout
  bilingual
  class="flex flex-col"
  hasDefaultLocaleRedirect
  title={t({
    en: 'Douglas Neuroinformatics Platform - Open Source Software and Computational Capacity',
    fr: 'Douglas Neuroinformatics Platform - Logiciels open-source et capacité de calcul'
  })}
  description={t({
    en: 'The Douglas Neuroinformatics Platform provides computing resources and open-source software for researchers at the Douglas Research Center.',
    fr: 'Le Douglas Neuroinformatics Platform fournit des ressources informatiques et des logiciels open-source aux chercheurs du Centre de recherche Douglas.'
  })}
>
  <div class="flex flex-grow flex-col items-center justify-center">
    <div class="flex min-h-[calc(100vh-64px)] max-w-3xl flex-col items-center justify-center text-center">
      <span class="text-muted-foreground text-sm font-semibold uppercase tracking-wide">
        {
          t({
            en: 'Supporting Research Excellence',
            fr: "Soutenir l'excellence en matière de recherche"
          })
        }
      </span>
      <h1 class="text-3xl font-bold leading-tight tracking-tighter md:text-4xl">
        {
          t({
            en: 'The Douglas Neuroinformatics Platform',
            fr: 'Le Douglas Neuroinformatics Platform'
          })
        }
      </h1>
      <p class="mt-3 text-gray-700 dark:text-gray-300">
        {
          t({
            en: 'We provide a Linux-based computing platform for storage and computationally intensive tasks at the Douglas Research Center. Our team also specializes in developing and deploying open-source software tailored to meet the specific needs of researchers.',
            fr: 'Nous fournissons une plateforme informatique basée sur Linux pour le stockage et les tâches de calcul intensif au Centre de recherche Douglas. Notre équipe est également spécialisée dans le développement et le déploiement de logiciels open-source adaptés aux besoins spécifiques des chercheurs.'
          })
        }
      </p>
    </div>
  </div>

  <div class="mt-16 w-full max-w-4xl rounded-lg bg-white p-8 text-center shadow-lg">
    <div>
      <div class="space-y-6">
        <a
          href="http://docs.douglasneuroinformatics.ca"
          target="_blank"
          class="block rounded-lg bg-blue-500 p-4 shadow-md duration-200 hover:scale-105"
        >
          <p class="font-bold text-white">
            {
              t({
                en: 'For online documentation please refer to:',
                fr: 'Pour la documentation en ligne, veuillez consulter :'
              })
            }
          </p>
          <p class="font-bold text-cyan-300 hover:underline">docs.douglasneuroinformatics.ca</p>
        </a>
        <div class="block rounded-lg bg-blue-600 p-4 shadow-md duration-200 hover:scale-105">
          <p class="font-bold text-white">
            {
              t({
                en: 'For support requests please email:',
                fr: "Pour les demandes d'assistance, veuillez envoyer un courriel à :"
              })
            }
          </p>
          <p class="select-none font-bold text-cyan-300">support&lt;at&gt;douglasneuroinformatics.ca</p>
        </div>
        <a
          href="https://accounts.douglasneuroinformatics.ca/request_account"
          target="_blank"
          class="block rounded-lg bg-blue-700 p-4 shadow-md duration-200 hover:scale-105"
        >
          <p class="font-bold text-white">
            {
              t({
                en: 'For account requests fill out the form at:',
                fr: "Pour les demandes de compte, remplissez le formulaire à l'adresse suivante :"
              })
            }
          </p>
          <p class="font-bold text-cyan-300 hover:underline">accounts.douglasneuroinformatics.ca</p>
        </a>
        <a
          href="https://chat.douglasneuroinformatics.ca"
          target="_blank"
          class="block rounded-lg bg-blue-800 p-4 shadow-md duration-200 hover:scale-105"
        >
          <p class="font-bold text-white">
            {
              t({
                en: 'Access the Mattermost (Chat) instance at:',
                fr: "Accédez à l'instance Mattermost (Chat) à l'adresse :"
              })
            }
          </p>
          <p class="font-bold text-cyan-300 hover:underline">chat.douglasneuroinformatics.ca</p>
        </a>
        <a
          href="https://opendatacapture.org/en"
          target="_blank"
          class="block rounded-lg bg-blue-900 p-4 shadow-md duration-200 hover:scale-105"
        >
          <p class="font-bold text-white">
            {
              t({
                en: 'Check out our data capture platform:',
                fr: 'Découvrez notre plateforme de capture de données :'
              })
            }
          </p>
          <p class="font-bold text-cyan-300 hover:underline">opendatacapture.org</p>
        </a><br /><br />
      </div>
    </div>
  </div>
</Layout>
