---
import Page from '@/layouts/Page.astro';
import Navigation from '../../components/Navigation.astro';

export const getStaticPaths = () => {
  return [{ params: { locale: 'en' } }, { params: { locale: 'fr' } }];
};
---
<Page>
  <div id="douglas-text" class="prose prose-slate dark:prose-invert relative mx-auto max-w-3xl transition-opacity duration-300 ease-in opacity-0 translate-y-full">
    <h1>Welcome to the Douglas Neuroinformatics (DNP) Index</h1>
    <p>
      For online documentation please refer to
      <a href="http://docs.douglasneuroinformatics.ca">docs.douglasneuroinformatics.ca</a>
    </p>
    <p>For support requests please email support&lt;at&gt;douglasneuroinformatics.ca</p>
    <p>
      For account requests fill out the form at
      <a href="https://accounts.douglasneuroinformatics.ca/request_account/">Request an Account</a>
    </p>
    <p>
      Access the Mattermost (Chat) instance at
      <a href="https://chat.douglasneuroinformatics.ca">chat.douglasneuroinformatics.ca</a>
    </p>
    <p>
      Access our wiki service at
      <a href="https://wiki.douglasneuroinformatics.ca">wiki.douglasneuroinformatics.ca</a>
    </p>
  </div>
</Page>
<script>
  window.addEventListener('load', () => {
    const ul = document.getElementById('douglas-text')!;
    setTimeout(() => {
        ul.classList.replace('opacity-0', 'opacity-100');
        ul.classList.replace('translate-y-full', 'translate-y-0');
      }, 1000);
  });
</script>
