---
import Resource from '@/components/Resource.astro';
import ServiceOffering from '@/components/ServiceOffering.astro';
import { useTranslations } from '@/i18n';
import Layout from '@/layouts/Layout.astro';

const { t } = useTranslations(Astro.url);

export const getStaticPaths = () => {
  return [{ params: { locale: 'en' } }, { params: { locale: 'fr' } }];
};
---

<Layout
  bilingual
  class="flex flex-col"
  hasDefaultLocaleRedirect
  title={t({
    en: 'Douglas Neuroinformatics Platform - Open Source Software and Computational Capacity',
    fr: 'Douglas Neuroinformatics Platform - Logiciels open-source et capacité de calcul'
  })}
  description={t({
    en: 'The Douglas Neuroinformatics Platform provides computing resources and open-source software for researchers at the Douglas Research Center.',
    fr: 'Le Douglas Neuroinformatics Platform fournit des ressources informatiques et des logiciels open-source aux chercheurs du Centre de recherche Douglas.'
  })}
>
  <section class="mx-auto flex min-h-[calc(100vh-64px)] max-w-3xl flex-col items-center justify-center text-center">
    <span class="text-muted-foreground text-sm font-semibold uppercase tracking-wide">
      {
        t({
          en: 'Supporting Research Excellence',
          fr: "Soutenir l'excellence en matière de recherche"
        })
      }
    </span>
    <h1 class="text-3xl font-bold leading-tight tracking-tighter md:text-4xl">
      {
        t({
          en: 'The Douglas Neuroinformatics Platform',
          fr: 'Le Douglas Neuroinformatics Platform'
        })
      }
    </h1>
    <p class="mt-3 text-gray-700 dark:text-gray-300">
      {
        t({
          en: 'We provide a Linux-based computing platform for storage and computationally intensive tasks at the Douglas Research Center. Our team also specializes in developing and deploying open-source software tailored to meet the specific needs of researchers.',
          fr: 'Nous fournissons une plateforme informatique basée sur Linux pour le stockage et les tâches de calcul intensif au Centre de recherche Douglas. Notre équipe est également spécialisée dans le développement et le déploiement de logiciels open-source adaptés aux besoins spécifiques des chercheurs.'
        })
      }
    </p>
  </section>
  <section class="mb-12 md:mb-16">
    <h2 class="mb-8 text-center text-xl font-bold leading-tight tracking-tight md:text-2xl">
      {
        t({
          en: 'Our Services',
          fr: 'Nos services'
        })
      }
    </h2>
    <div class="grid gap-6 md:grid-cols-2">
      <ServiceOffering
        description="Our core computing platform is a single-sign-on Ubuntu Linux based computer system. Originally the computing platform of the Douglas Cerebral Imaging Centre (CIC), it has grown and generalized to meet the informatics needs of the Douglas Research Centre as a whole."
        title="Core Computing Platform"
        link={{
          href: 'http://docs.douglasneuroinformatics.ca',
          label: t({
            en: 'View Documentation',
            fr: 'Consulter la documentation'
          })
        }}
      />
    </div>
  </section>
  <section class="mb-12 md:mb-16">
    <h2 class="mb-8 text-center text-xl font-bold leading-tight tracking-tight md:text-2xl">
      {
        t({
          en: 'Resources',
          fr: 'Ressources'
        })
      }
    </h2>
    <div class="grid gap-6 md:grid-cols-2">
      <Resource
        link={{
          kind: 'mailto',
          name: 'support',
          domain: 'douglasneuroinformatics.ca'
        }}
        title={t({
          en: 'Support Requests',
          fr: "Demandes d'assistance"
        })}
      />
    </div>
  </section>
</Layout>
