---
import { getCollection } from 'astro:content';

import TestimonialContent from '@/components/TestimonialContent';
import Page from '@/layouts/Page.astro';

const testimonials = await getCollection('testimonials');

export const getStaticPaths = () => {
  return [{ params: { locale: 'en' } }, { params: { locale: 'fr' } }];
};
---

<Page>
  <div><TestimonialContent client:load testimonials={testimonials} /></div>
</Page>
