---
import checkCircleIcon from '@/assets/svg/check-circle.svg?raw';

type Props = {
  title: string;
  items: {
    description: string;
    label: string;
  }[];
};

const { items, title } = Astro.props;
---

<div class="flex flex-col gap-4">
  <h4 class="text-lg font-semibold leading-tight tracking-tight md:text-xl xl:text-2xl">
    {title}
  </h4>
  <ul class="space-y-4">
    {
      items.map((item) => (
        <li>
          <div class="flex items-center">
            <div class="flex w-10 items-center [&>svg]:h-8 [&>svg]:w-8 [&>svg]:fill-green-600 [&>svg]:stroke-white">
              <Fragment set:html={checkCircleIcon} />
            </div>
            <div>
              <h5 class="font-semibold tracking-tight text-lg">{item.label}</h5>
            </div>
          </div>
          <div class="ml-10">
            <p class="text-sm text-gray-700 dark:text-gray-300">{item.description}</p>
          </div>
        </li>
      ))
    }
  </ul>
</div>
