---
---
<style>
.hamburger {
padding-top: 10px;
  padding-right: 20px;
  cursor: pointer;
}
.hamburger .line {
  display: block;
  width: 30px;
  height: 4px;
  margin-bottom: 5px;
  background-color: #283076;
}
</style>
<div class="hamburger">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </div>
