---
import Card from './Card.astro';

type Props = {
  description: string;
  title: string;
  link: {
    href: string;
    label: string;
  };
};

const { description, link, title } = Astro.props;
---

<Card class="group duration-200 hover:scale-105">
  <a class="flex h-full flex-col justify-between gap-2 p-5" href={link.href} target="_blank">
    <div class="flex flex-col gap-2">
      <h5 class="text-lg font-semibold">{title}</h5>
      <p class="text-sm text-gray-700 dark:text-gray-300">
        {description}
      </p>
    </div>
    <span class="font-medium group-hover:underline">{link.label} »</span>
  </a>
</Card>
