---
import Header from '@/components/Header.astro';
import { useTranslations } from '@/i18n';
import Footer from '@/components/Footer.astro';
type Props = {
  meta?: {
    title?: string;
    description?: string;
  };
};

const { resolvedLanguage, t } = useTranslations(Astro.url);

const { meta } = Astro.props;

const hostname = Astro.url.hostname;
---

<!doctype html>
<html lang={resolvedLanguage}>
  <head>
    <meta charset="UTF-8" />
    <title>{meta?.title ?? t('title')}</title>
    <meta name="description" content={meta?.description ?? t('description')} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <script defer data-domain={hostname} src="https://plausible.io/js/script.js"></script>
  </head>
  <body class="flex h-screen flex-col scroll-smooth bg-slate-100 text-slate-900 dark:bg-slate-900 dark:text-slate-100">
    <Header />
    <main class="container pb-8 pt-24 flex-grow">
      <slot />
    </main>
    <Footer/>
  </body>
</html>
